@model Reports.Models.Summary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Summary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voucher.PaymentInFavourOf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallHireNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallHireNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EachHallAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EachHallAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MpesaChargesPerHall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MpesaChargesPerHall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallHireTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallHireTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadFarmersNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadFarmersNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EachLeadFarmersAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EachLeadFarmersAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MpesaChargesPerLeadFarmers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MpesaChargesPerLeadFarmers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadFarmersTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadFarmersTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EANo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EANo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EachEAAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EachEAAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MpesaChargesPerEA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MpesaChargesPerEA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EATotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EATotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotalperVenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotalperVenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
